
<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="ListGroup">Список групп</a>
</li>
<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="ListTeacher">Список преподавателей</a>
</li>
<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="StudentAbsences">
        Заявки на
        отсутствие по уважительным причинам
    </a>
</li>


