<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="GroupHead" asp-action="MyGroup">Моя группа</a>
</li>
<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="GroupHead" asp-action="Classes">Занятия группы</a>
</li>
<!-- Add other GroupHead specific links here -->
<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="GroupHead" asp-action="StudentAbsences">
        Заявки на
        отсутствие по уважительным причинам</a>
</li>
