

<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="ListClasses">Мои предметы</a>
</li>
<li class="nav-item nav-item-padded">
    <a class="nav-link text-light" asp-area="" asp-controller="Teacher" asp-action="Classes">Занятия по группам</a>
</li>
    