@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в электронный дневник посещаемости</h1>
    <p class="lead">Эффективный инструмент для преподавателей и старост для отслеживания посещаемости студентов</p>
    <hr class="my-4">
    <p>
        Этот электронный дневник помогает вам:
    </p>
    <ul class="list-unstyled">
        <li><i class="bi bi-journal-check"></i> Записывать посещаемость каждый день</li>
        <li><i class="bi bi-person-check"></i> Отслеживать посещаемости студентов</li>
        <li><i class="bi bi-graph-up"></i> Генерировать отчеты и статистику по посещаемости</li>
        <li><i class="bi bi-calendar3"></i> Планировать и эффективно управлять учебными занятиями</li>
    </ul>
    <hr class="my-4">
    <p>
        Для того чтобы работать с дневником, <a href="@Url.Action("Login", "Home")" class="btn btn-secondary">войдите в систему</a> чтобы получить доступ к вашему дневнику посещаемости.
    </p>
</div>

